/*Les très petits écrans (< 768 px : pour les écrans dont la largeur est comprise entre 0 px et 768 px)*/

@media (max-width: 768px) {
	html,
	body {
		margin: 0;
		padding: 0%;
	}
	#bloc_page {
		margin: auto;
	}
	#titre_principal {
		display: flex;
	}
	.logo_reservia img {
		box-sizing: border-box;
		width: 6rem;
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
	}
	h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		display: block;
		font-size: 2em;
	}
	header h2 {
		font-family: 'raleway';
		font-weight: 500;
		font-size: 1rem;
	}
	nav {
		flex-direction: row;
	}
	nav a/*correspond aux 3 elements dans la navigation  */
	{
		flex: auto;
		display: inline-flex;
		justify-content: space-evenly;
		display: flex;
		justify-content: flex-end;
		font-weight: normal;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		text-decoration: none;
	}
	.navigation3 { /* concerne heb activite et sinscrire*/
		justify-content: space-around;
		display: flex;
		border-bottom: 3px solid #F2F2F2;
	}
	#nav_heb a {
		color: #0065FC;
	}
	#nav_heb a:hover { /* trait au dessu de hebergement*/
		text-decoration: none;
		border-top: 0;
		padding: 10px;
		color: #0065FC;
		border-bottom: 3px solid #0065fc;
	}
	#nav_activite a {
		color: black;
	}
	#nav_ins a {
		color: #0065FC;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#nav_activite a:hover/*Apparence au survol des liens */
	{
		text-decoration: none;
		border-top: 0;
		padding: 10px;
		color: #0065FC;
	}
	h2 {
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-size: 1em;
	}
	.fas fa-map-marker-alt/*concerne icone maps */
	{
		background-size: 20px;
		background-color: #F2F2F2;
		text-align: center;
		margin-right: 20px;
		color: black;
	}
	h1,
	h2 {
		/* pour remonte les titre vers le haut */
		top: 50px;
	}
	h5 {
		font-size: 1.2em;
		padding: 10px;
		font-family: 'Raleway';
		font-weight: 500;
		font-style: normal;
	}
	#conteneur/* concerne icon maps avec marseille dans cadre et rechercher submit*/
	input[type="submit"] {
		display: none;
    
	}
	input[type="text"] {
		padding: 0 0 0 20px;
		height: 50px;
		width: 220px;
		border: none;
		border-top: solid 1px #F2F2F2;
		border-bottom: solid 1px #F2F2F2;
    
    
    
	}
	.icon_maps {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		background-color: #F2F2F2;
		border-radius: 14px 0 0 14px;
		border: none;
	}
	.maps {
		display: inline-flex;
		flex-direction: row;
		margin-top: 15px;
		margin-bottom: 35px;
	}
	.icon_maps_loupe { /*icone loupe responsive*/
		/*display: block;*/
		position: relative;
		left: -15px;
		background: #0065fc;
		color: #deebff;
		border-radius: 10px 10px 10px 10px;
		font-size: 20px;
		padding: 15px;
		width: 20px;
		border: 0px;
    cursor: pointer;
	}
	#filtres {
		font-family: 'raleway';
		font-weight: 800;
		font-size: 1rem;
		display: inline-grid;
		justify-items: start;
	}
	.logo-button {
		/*correspond a mes icons animaux romance ect..*/
		background-color: #DEEBFF;
		color: #0065fc;
		padding: 18px;
		border-radius: 200px;
		margin-right: 15px;
		margin-left: -18px;
	}
	.filtre-items { /*div contenant mes bouton filtre*/
		display: flex;
		flex-wrap: wrap;
	}
	.button-filtre {
		/*icone+texte*/
		font-family: 'raleway';
		font-weight: 800;
		background-color: white;
		border-color: lightgrey;
		border-style: solid;
		border-radius: 100px;
		padding: 18px;
		margin: 5px;
		position: relative;
    cursor: pointer;
	}
	#logo-info {
		/* icone info*/
		display: flex;
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		font-size: 0.8em;
	}
	.logo-item { /*logo information*/
		height: 2rem;
		min-width: 2rem;
		border: solid 1px #d9d9d9;
		border-radius: 100%;
		display: flex;
		color: #0065FC;
		font-size: small;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
	#bloc_page1 { /* concerne groupe herbergement et les plus pop*/
		display: flex;
		padding: 37px;
		/*flex-direction: column-reverse;
margin: 0px;*/
	}
	.groupe_section { /* hergement+ populaire*/
		display: flex;
		flex-direction: column;
	}
	#logement_marseille {
		box-shadow: 10px 10px 10px white;
		border-radius: 20px;
		padding: 14px;
		display: flex;
		flex-wrap: wrap;
		/*width: 110%;*/
		order: 2;
	}
	.nuit { /* nuit a partir de ..*/
		font-family: 'raleway';
		font-weight: 500;
		margin-top: 5px;
	}
	.hebergement-item {
		margin: 9px;
		flex-direction: column;
		box-shadow: 0px 1px 3px 0px;
		width: 100%;
		height: auto;
		border-radius: 10px;
		border: solid 5px white;
		background-color: white;
	}
	.hebergement-items {
		display: flex;
		flex-direction: column;
		/*width:100%;*/
		height: auto;
		margin-top: 0;
	}
	.hebergement-item:hover {
		/* s'aggrandi quand on passe la souris dessus*/
		cursor: pointer;
		transform: scale(1.1);
	}
	.hebergement-item>img {
		/*correspond a a taille de les img dans herbergement*/
		border-radius: 7px 15px 0 2px;
		background-color: white;
		object-fit: cover;
		border-bottom: none;
		/*width: 100%;*/
		max-height: 133px;
	}
	figcaption { /* utiliser pour legender figure */
	    margin: 6px;
		font-family: 'Raleway';
		font-weight: 800;
		font-style: normal;
		font-size: 0.8em;
	}
	.etoile {
		color: #0065FC;
		margin-left: auto;
	}
	.etoile_vide {
		color: grey;
	}
	#populaire {
		background: #F2F2F2;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		margin-top: 0px;
		width: auto;
		font-size: 20px;
		order: 1;
	}
	.fig_populaire { /*class pour mettre les etoile vers le bas */
		margin: 1px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	 }
	.etoile_populaire {
		color: #0065FC;
		padding-top: 30%;
	}
	.populaire_items {
		flex-direction: column;
	}
	.populaire_item {
		width: 85%;
		height: 150px;
		background-color: white;
		border-radius: 20px;
		box-shadow: 0px 0px 6px 0px #0000002e;
		align-items: stretch;
		margin-left: 22px;
	}
	.populaire_item>img {
		background-color: white;
		object-fit: cover;
		width: 40%;
		height: 92%;
		margin: 5px;
		border-radius: 15px 0 0 15px;
	}
	h2 {
		font-size: 1.3rem;
		font-family: 'Raleway';
		font-weight: 800;
	}
	p {
		font-size: 0.8em;
		font-family: 'Raleway';
		font-weight: 800;
	}
	#sortie {
		display: flex;
		align-content: stretch;
		justify-content: center;
		align-items: flex-start;
	}
	.activite_items {
		display: flex;
		flex-direction: column;
		height: auto;
		width: 100%;
	}
	figure {
		display: flex;
	}
	.activite_items img {
		object-fit: cover;
		width: 103%;
		height: 100%;
		margin: -2px;
		height: 84%;
	}
	.courbe { /* concerne icone */
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		justify-content: space-between;
		align-items: center;
	}
	.vieux_port {
		overflow: hidden;
		height: 245px;
		border-radius: 20px;
		box-shadow: 1px 1px 17px -9px;
		display: flex;
		flex-direction: column;
		width: 85%;
		margin-bottom: 39px;
	}
	.activite_fort {
		flex-direction: column;
		height: 220px;
		width: 85%;
		margin-top: 2px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	.iles {
		flex-direction: column;
		width: 85%;
		height: 222px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	.notre_dame {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 85%;
		height: 212px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	.parc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 184px;
		width: 85%;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	/*.groupe1 {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 26%;*/
	.groupe2 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	footer {
		display: flex;
		align-items: baseline;
		background-color: #F2F2F2;
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		padding: 10px;
	}
	p {
		font-family: 'Raleway';
		font-weight: 500;
	}
}


/*Tablettes (768 px - 991 px)*/

@media (min-width: 768px) and (max-width: 991px) {
	html,
	body {
		margin: 0;
		padding: 0%;
	}
	#bloc_page {
		margin: auto;
	}
	#titre_principal {
		display: flex;
	}
	.logo_reservia img {
		box-sizing: border-box;
		width: 6rem;
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
	}
	h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
		display: block;
		font-size: 2em;
	}
	header h2 {
		font-family: 'raleway';
		font-weight: 500;
		font-size: 1rem;
	}
	nav {
		flex-direction: row;
	}
	nav a {
		flex: auto;
		display: inline-flex;
		justify-content: space-evenly;
		display: flex;
		justify-content: flex-end;
		font-weight: normal;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		text-decoration: none;
	}
	.navigation3 {
		justify-content: space-around;
		display: flex;
		border-bottom: 3px solid #F2F2F2;
	}
	#nav_heb a {
		color: #0065FC;
	}
	#nav_heb a:hover {
		text-decoration: none;
		border-top: 0;
		padding: 10px;
		color: #0065FC;
		border-bottom: 3px solid #0065fc;
        cursor: pointer;
	}
	#nav_activite a {
		color: black;
	}
	#nav_ins a {
		color: #0065FC;
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#nav_activite a:hover { /*Apparence au survol des liens */
		text-decoration: none;
		border-top: 0;
		padding: 10px;
		color: #0065FC;
		border-bottom: 3px solid #0065fc;
        cursor: pointer;
	}
	h2 {
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-size: 1em;
	}
	.fas fa-map-marker-alt/*concerne icone maps , quel denomination pour changer la fond de maps */
	{
		background-size: 20px;
		background-color: #F2F2F2;
		text-align: center;
		margin-right: 20px;
		color: black;
	}
	h1,
	h2 {
		/* pour remonte les titre vers le haut */
		top: 50px;
	}
	h5 {
		font-size: 1.2em;
		padding: 10px;
		font-family: 'Raleway';
		font-weight: 500;
		font-style: normal;
	}
	#conteneur/* concerne icon maps avec marseille dans cadre et rechercher submit*/
	input[type="submit"] {
		display: none;
    cursor: pointer;
  }
	input[type="text"] {
		padding: 0 0 0 20px;
		height: 50px;
		width: 220px;
		border: none;
		border-top: solid 1px #F2F2F2;
		border-bottom: solid 1px #F2F2F2;
    
	}
	.icon_maps {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		background-color: #F2F2F2;
		border-radius: 14px 0 0 14px;
		border: none;
	}
	.maps {
		display: inline-flex;
		flex-direction: row;
		margin-top: 15px;
		margin-bottom: 35px;
	}
	.icon_maps_loupe {
		display: block;
		position: relative;
		background: #0065fc;
		color: #deebff;
		border-radius: 10px 10px 10px 10px;
		font-size: 20px;
		padding: 15px;
		width: 20px;
		border: 0px;
		cursor: pointer;
	}
	#filtres {
		font-family: 'raleway';
		font-weight: 800;
		font-size: 1rem;
		display: inline-grid;
		justify-items: start;
	}
	.logo-button {
		/*correspond a mes icons animaux romance ect..*/
		background-color: #DEEBFF;
		color: #0065fc;
		padding: 18px;
		border-radius: 200px;
		margin-right: 15px;
		margin-left: -18px;
	}
	.filtre-items {
		display: flex;
		flex-wrap: wrap;
	}
	.button-filtre {
		/*iconn+texte*/
		font-family: 'raleway';
		font-weight: 800;
		background-color: white;
		border-color: lightgrey;
		border-style: solid;
		border-radius: 100px;
		padding: 18px;
		margin: 5px;
		position: relative;
    cursor: pointer;
	}
	#logo-info {
		/* icone info*/
		display: flex;
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		font-size: 1.8em;
		position: relative;
		margin-bottom: 12%;
	}
	.logo-item {
		height: 2rem;
		min-width: 2rem;
		border: solid 1px #d9d9d9;
		border-radius: 100%;
		display: flex;
		color: #0065FC;
		font-size: small;
		justify-content: center;
		align-items: center;
		margin: auto;
	}
	#bloc_page1 {
		display: flex;
		padding: 37px;
		flex-direction: column-reverse;
		margin: 0px;
		margin-top: -85px;
	}
	partie herbergement #logement_marseille {
		background-color: #F2F2F2;
		box-shadow: 10px 10px 10px white;
		border-radius: 20px;
		padding: 14px;
		display: flex;
		flex-wrap: wrap;
		width: 110%;
	}
	.nuit {
		font-family: 'raleway';
		font-weight: 500;
		margin-top: 5px;
	}
	.hebergement-item {
		margin: 9px;
		flex-direction: column;
		box-shadow: 0px 1px 3px 0px;
		width: 100%;
		height: auto;
		border-radius: 10px;
		border: solid 5px white;
		background-color: white;
	}
	.hebergement-items {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		margin-top: 0;
	}
	.hebergement-item:hover {
		cursor: pointer;
		transform: scale(1.1);
	}
	.hebergement-item>img {
		/*correspond a a taille de les img dans herbergement*/
		border-radius: 7px 15px 0 2px;
		background-color: white;
		object-fit: cover;
		border-bottom: none;
		width: 100%;
		max-height: 133px;
	}
	figcaption {
		margin: 6px;
		font-family: 'Raleway';
		font-weight: 800;
		font-style: normal;
		font-size: 0.8em;
	}
	.etoile {
		color: #0065FC;
		margin-left: auto;
	}
	.etoile_vide {
		color: grey;
	}
	#populaire {
		background: #F2F2F2;
		display: flex;
		flex-direction: column;
		border-radius: 10px;
		margin-top: 0px;
		padding: 10px;
		width: 100%;
		font-size: 20px;
		margin-left: 15px;
	}
	.fig_populaire { /*class pour mettre les etoile vers le bas */
		margin: 4px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	 }
	.etoile_populaire {
		color: #0065FC;
		padding-top: 30%;
	}
	.populaire_items {
		flex-direction: column;
	}
	.populaire_item {
		width: auto;
		height: 150px;
		background-color: white;
		border-radius: 20px;
		box-shadow: 0px 0px 6px 0px #0000002e;
		align-items: stretch;
		margin-top: 49px;
	}
	.populaire_item>img {
		background-color: white;
		object-fit: cover;
		width: 40%;
		height: 92%;
		margin: 5px;
		border-radius: 15px 0 0 15px;
	}
	h2 {
		font-size: 1.3rem;
		font-family: 'Raleway';
		font-weight: 800;
	}
	p {
		font-size: 0.8em;
		font-family: 'Raleway';
		font-weight: 800;
	}
	#sortie {
		display: flex;
		align-content: stretch;
		justify-content: center;
		align-items: flex-start;
	}
	.activite_items {
		display: flex;
		flex-direction: column;
		height: auto;
		width: 100%;
	}
	figure {
		display: flex;
	}
	.activite_items img {
		object-fit: cover;
		width: 103%;
		height: 84%;
	}
	.courbe {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		justify-content: space-between;
		align-items: center;
	}
	.vieux_port {
		overflow: hidden;
		height: 245px;
		border-radius: 20px;
		box-shadow: 1px 1px 17px -9px;
		display: flex;
		flex-direction: column;
		width: 85%;
		margin-bottom: 39px;
	}
	.activite_fort {
		flex-direction: column;
		height: 220px;
		width: 85%;
		margin-top: 2px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	.iles {
		flex-direction: column;
		width: 85%;
		height: 222px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	.notre_dame {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 85%;
		height: 212px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	.parc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 184px;
		width: 85%;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	/*.groupe1 {
        
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-end;
width: 26%;*/
	.groupe2 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	footer {
		display: flex;
		/* flex-wrap: wrap; */
		align-items: baseline;
		background-color: #F2F2F2;
		flex-direction: column;
		align-items: flex-start;
		height: auto;
		padding: 10px;
	}
	p {
		font-family: 'Raleway';
		font-weight: 500;
	}
}


/*Ordinateurs (992 px et plus )*/

@media (min-width: 992px) {
	#bloc_page {
		width: 90%; /* decalage a droite du contenu */
		margin: auto;
	}
	#titre_principal {
		display: flex;
	}
	.logo_reservia img {
		box-sizing: border-box;
		width: 6rem;
		margin-top: 0.5rem;
		margin-bottom: 1.5rem;
	}
	h1 {
		font-size: 22px;
		font-family: 'Raleway', sans-serif;
		font-weight: 800;
	}
	header h2 {
		font-family: 'raleway';
		font-weight: 500;
	}
	nav {
		display: flex;
		height: 4rem;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		flex: auto;
		display: flex;
		justify-content: flex-end;
		font-weight: normal;
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-size: 0.2em;
		text-decoration: none;
	}
	.navigation3 {
		margin: 4px;
		justify-content: space-around;
		width: 30rem;
		margin-bottom: 1rem;
		height: 100%;
		display: flex;
		vertical-align: top;
		align-items: flex-start;
		margin-left: 676px;
		font-size: 75px;
	}
	#nav_heb a {
		color: #0065FC;
		border-top: 3px solid #0065FC;
	}
	#nav_heb a:hover {
		text-decoration: none;
		border-top: 3px solid #0065FC;
		padding: 10px;
		color: #0065FC;
	}
	#nav_activite a {
		color: black;
	}
	#nav_ins a {
		color: #0065FC;
	}
	#nav_activite a:hover { /*Apparence au survol des liens */
		text-decoration: none;
		border-top: 3px solid #0065FC;
		padding: 10px;
		color: #0065FC;
	}
	h2 {
		font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-size: 1em;
	}
	.fas fa-map-marker-alt/*concerne icone maps , quel denomination pour changer la fond de maps*/
	{
		background-size: 20px;
		background-color: #F2F2F2;
		text-align: center;
		margin-right: 20px;
		color: black;
	}
	h1,
	h2 {
		/* pour remonte les titre vers le haut*/
		top: 50px;
	}
	h5 {
		font-size: 0.7em;
		padding: 10px;
		font-family: 'Raleway';
		font-weight: 500;
		font-style: normal;
	}
	#conteneur/*concerne icon maps avec marseille dans cadre et rechercher submit*/
	input[type="submit"] {
		height: 51px;
		width: 125px;
		background: #0065FC;
		color: white;
		border: 0;
		border-top-right-radius: 11px;
		border-bottom-right-radius: 7px;
    cursor: pointer;
	}
	input[type="text"] {
		padding: 0 0 0 20px;
		height: 50px;
		border: none;
		border-top: solid 1px #F2F2F2;
		border-bottom: solid 1px #F2F2F2;
	}
	.icon_maps {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 42px;
		background-color: #F2F2F2;
		border-radius: 14px 0 0 14px;
		border: none;
	}
	.maps {
		display: inline-flex;
		flex-direction: row;
		margin-top: 15px;
		margin-bottom: 35px;
	}
	.icon_maps_loupe {
		display: none !important;
	}
	#filtres {
		font-family: 'raleway';
		align-items: center;
		display: flex;
		margin-bottom: 40px;
		margin-top: 50px;
		font-weight: 800;
    
	}
	.logo-button {
		/*correspond a mes icons animaux romance ect..*/
		background-color: #DEEBFF;
		color: #0065fc;
		padding: 18px;
		border-radius: 200px;
		margin-right: 15px;
		margin-left: -18px;
	}
	.button-filtre {
		/*iconn+texte*/
		font-family: 'raleway';
		font-weight: 800;
		background-color: white;
		border-color: lightgrey;
		border-style: solid;
		border-radius: 100px;
		padding: 18px;
		margin: 5px;
    cursor: pointer;
    
	}
	#logo-info {
		/* icone info*/
		display: flex;
		font-family: "Raleway", sans-serif;
		font-weight: 300;
		font-size: 1.8em;
		align-items: center;
	}
	.logo-item {
		height: 2rem;
		min-width: 2rem;
		border: solid 1px #d9d9d9;
		border-radius: 100%;
		display: flex;
		color: #0065FC;
		font-size: small;
		justify-content: center;
		align-items: center;
	}
	#bloc_page1 {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-content: stretch;
		
	}
	/*partie herbergement*/
	#logement_marseille {
		background-color: #F2F2F2;
		box-shadow: 10px 10px 10px white;
		border-radius: 20px;
		padding: 14px;
		display: flex;
		flex-wrap: wrap;
		width: 110%;
		flex-direction: column;
	}
	.nuit {
		font-family: 'raleway';
		font-weight: 500;
		margin-top: 5px;
	}
	.hebergement-item {
		width: 191px;
		margin: 9px;
		display: flex;
		overflow: hidden;
		flex-direction: column;
		box-shadow: 0px 1px 3px 0px;
		width: 24%;
		height: 28%;
		border-radius: 10px;
		border: solid 5px transparent;
		background: white;
	}
	.hebergement-items {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-evenly;
		height: 491px;
		align-items: center;
	}
	.hebergement-item>img {
		/*correspond a a taille de les img dans herbergement*/
		border-radius: 9px 9px 0 2px;
		background-color: white;
		object-fit: cover;
		margin: 0px;
		border-bottom: none;
		width: 100%;
		height: 60%;
	}
	.hebergement-item:hover {
		/* s'aggrandi quand on passe la souris dessus*/
		cursor: pointer;
		transform: scale(1.1);
	}
	figcaption {
		/*height: 57px;*/
		font-family: 'Raleway';
		font-weight: 800;
		font-style: normal;
		font-size: 0.8em;
		margin: 6px;
	}
  .fig_populaire { /*class pour mettre les etoile vers le bas */
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
	.etoile {
		color: #0065FC;
		margin-left: auto;
	}
	.etoile_vide {
		color: grey;
	}
	#populaire {
		background: #F2F2F2;
		display: flex;
		flex-direction: column;
		width: min-content;
		border-radius: 10px;
		margin-top: 0px;
		padding: 23px;
		padding-bottom: 11px;
		margin-left: 15px;
	}
	.populaire_items {
		flex-direction: column;
	}
	.populaire_item {
		width: 277px;
		height: 105px;
		display: flex;
		background-color: white;
		border-radius: 20px;
		box-shadow: 0px 0px 6px 0px #0000002e;
		align-items: stretch;
		margin-top: 50px;
	}
	.populaire_item>img {
		background-color: white;
		object-fit: cover;
		width: 40%;
		height: 92%;
		margin: 5px;
		max-height: 100px;
		border-radius: 15px 0 0 15px;
	}
	.etoile_populaire {
		color: #0065FC;
	
		/*margin-top: 34px;*/
	}
	h2 {
		font-size: 19px;
		font-family: 'Raleway';
		font-weight: 800;
	}
	p {
		font-size: 0.8em;
		font-family: 'Raleway';
		font-weight: 800;
	}
	#sortie {
		display: flex;
		align-content: stretch;
		justify-content: center;
		align-items: flex-start;
	}
	.activite_items {
		display: flex;
		flex-direction: row;
		padding: 23px 0px 23px 0px;
		margin: 3px;
	}
	figure {
		display: flex;
	}
	.activite_items img {
		object-fit: cover;
		width: 103%;
		height: 100%;
		height: 84%;
	}
	.groupe_section {
		width: 100%;
		display: flex;
	}
	.courbe {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		justify-content: space-evenly;
		align-items: center;
	}
	.vieux_port {
		overflow: hidden;
		height: 435px;
		border-radius: 20px;
		box-shadow: 1px 1px 17px -9px;
		display: flex;
		flex-direction: column;
		margin-top:0px;
		margin-left:0px;
	}
	.vieux_port>img {
		width: 255px;
		height: 398px;
	}
	.activite_fort {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		height: 190px;
		width: 276px;
		margin-top: 2px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	.iles {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 276px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
	}
	.notre_dame {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 276px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
		height: 190px;
	}
	.parc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		/*height: 166px;*/
		width: 276px;
		border-radius: 16px;
		box-shadow: 1px 1px 17px -9px;
		background: white;
		overflow: hidden;
		height: 190px;
	}
	.groupe1 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	.groupe2 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-end;
	}
	footer {
		display: flex;
		flex-wrap: wrap;
		align-content: stretch;
		justify-content: space-around;
		background-color: #F2F2F2;
	}
	p {
		font-family: 'Raleway';
		font-weight: 500;
	}
}